# Telegram Bot Token
BOT_TOKEN=8732408293:AAG_7xYlNL44_yjmQXsxdeIzXAYdFZYs8Cg

# PostgreSQL Connection String (500+ player ishlab chiqarish uchun)
# DATABASE_URL=postgresql+asyncpg://postgres:parol@localhost:5432/got_mmorpg

# Yoki SQLite asinxron (sinov va lokal ishlatish uchun)
DATABASE_URL=sqlite+aiosqlite:///got_mmorpg.db
